body, html {
  background: #c37344;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.ray-contain {
  width: 800px;
  height: 500px;
  position: relative;
}

#sideL1, #sideL2 {
  stroke-dashoffset: -100px;
  stroke-dasharray: 100px;
}